{% if page.layout == 'home' %}
{% assign page-title = site.title | escape %}
{% assign page-tagline = site.tagline | escape %}
{% else %}
{% assign page-title = page.title | escape %}
{% assign page-tagline = page.tagline | escape  %}
{% endif %}


<section class="page-header">
  <h1 class="project-name">{{ page-title }}</h1>
  <h2 class="project-tagline">{{ page-tagline }}</h2>
  {% if page.role == 'major' %}
  <a href="{{ site.url }}" class="btn">首页</a>
  <a href="{{ site.url }}/blogpost.html" class="btn">日常</a>
  <a href="{{ site.url }}/math" class="btn">数学</a>
  <a href="{{ site.url }}/about.html" class="btn">作者</a>
  {% endif %}
  {% if page.layout == 'post'%}
  <p class="meta">{{ page.date | date_to_string }}</p>
  {% endif %}
</section>